.App {
  /* border: 1px solid black; */
  width: 80%;
  margin: auto;
}
.App h1 {
  text-align: center;
  margin-block: 20px;
}
.search-input {
  margin: 20px auto;
  padding-inline: 20px;
}
.search-input input {
  width: 100%;
  height: 100%;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  border: 1px solid black;
}
.App hr {
  margin-block: 10px;
}

/* ================ Card Styling ============== */

.data-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.card-container {
  /* border: 1px solid black; */
  width: 200px;
  padding: 10px;
  margin-block: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card {
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name-tagline p {
  margin-block: 5px;
}
.other-details {
  display: flex;
  justify-content: space-between;
}

.img-div {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}

.img-div img {
  width: 200px;
  height: 300px;
}

.name-tagline #tagline {
  font-size: 12px;
}
